@media screen and (max-width:1023px) {
    .accept_buttons {
        .button {
            padding: 10px 50px;
        }
    }
    .header-top {
        padding:0 30px!important;
    }
    .button {
        margin-left:0;
    }
    .deposit-section a.button.button-danger {
        margin-top:15px!important;
    }
    .navbar-dark .navbar-nav li a.nav-link svg {
        height:18px!important;
    }
    .navbar-dark .navbar-nav li:last-child a.nav-link svg {
        margin-right:0;
    }
    .our_balance {
        margin-top:30px;
    }
    .main-screen p {
        margin-bottom:0;
    }
    .users-button a {
        background: none;
        border: none!important;
        box-shadow: none!important;
    }
    .users-button svg {
        display:flex;
    }
    .users-button span {
        display:none;
    }
    .container-fluid, .navbar-expand-md > .container-fluid {
        padding: 0 47px;
    }
    .navbar-nav .nav-item {
        margin-left:30px;
    }
    .navbar-nav .nav-item span {display:none;}
    .navbar-nav .nav-item .dropdown-toggle::after {
        content:none;
    }
    a.button {
        margin-top: 40px;
        font-size: 16px;
        line-height: 28px;
        padding: 10px 35px;
        width: 100%;
        text-align: center;
    }
    .card-body {
        padding: 40px 30px 35px;
        overflow: auto;
    }
    .progress {
        height:18px;
    }
    .main-screen p {
        font-size:14px;
    }
    .progress + p {
        font-size: 14px !important;
        margin-top: 50px !important;
    }
    .users-button a svg {
        width:28px;
    }
    .app .navbar {
        background: linear-gradient(
                100.13deg
            , #6CA8E0 -25.88%, #4D5B9D 53.71%);
        padding: 12px 0 14px;
    }
    .start-token-sale-content {
        .timer {
            font-size:36px;
            margin:25px 0;
        }
        h2 {
            font-size: 24px!important;
            line-height:24px!important;
            text-align: center!important;
        }
        .button {
            text-align: center;
            justify-content: center;
        }
    }
    #balance-tabs .nav-item a svg {
        height:16px;
        margin-right: 5px;
    }
    #balance-tabs .nav-item a {
        font-size: 14px;
        padding: 10px 0 5px;
        background:transparent!important;
    }
    #balance-tabs .nav-item a  span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 125px;
        line-height: 14px;
    }
    .card-header .nav {
        justify-content: space-between;
        width:100%;
    }
    .orders-list {
        margin-top:20px;
    }
    .orders-list p {
        font-size:10px;
    }
    .order-wrapper .col-4 {
        padding:0;
        margin-bottom: 10px;
    }
    .order-wrapper {
        padding: 25px 35px 15px;
    }
    .order-wrapper>.row {
        justify-content: flex-end;
    }
    .order-status {
        margin-top: -33px;
        margin-left: -10px;
    }
    .order-status p {
        font-size: 12px;
    }
    #orders-area h2 {
        font-size: 18px;
        text-align: center;
    }
    .card-body h2 {
        font-size: 24px;
        text-align: left;
    }
    .status-text {
        margin-top: 25px;
        font-size: 18px;
        font-weight: 400;
        width: 100%;
        text-align: center;
        line-height: 20px;
    }
    .deposit-block {
        margin-top:25px;
    }
    .deposit-status {
        font-size:14px;
    }
    .deposit-block input, .deposit-block select {
        font-size:18px;
        font-weight: 500;
    }
    .deposit-recieve-group {
        margin-left:0;
    }
    .subtotal {
        margin-top:25px;
    }
    p.balance-amount {
        line-height: 28px;
    }
    hr {
        margin:25px 0;
    }
    h3 {
        font-size: 18px;
    }
    a.copy-link {
        width: 100%;
        font-size: 14px;
        padding: 0 15px;
        border-radius: 15px;
        line-height: 60px;
        height: 60px;
    }
    .order-wallet a.copy-link {
        margin-top:35px;
    }
    a.copy-link svg {
        min-width:16px;
        width:16px;
    }
    .deposit-section a.button {
        margin-top:30px!important;
    }
    .deposit-section .nav-item {
        margin-right:10px;
    }
    .deposit-section .nav-item a {
        font-size: 12px;
        padding: 7px 12px 8px;
        border-radius: 15px;
    }
    .wallet-link-section .tab-content {
        padding-top: 25px;
    }
    .qr-code {
        margin-top: 40px;
    }
    .created-block {
        margin-top:25px;
    }
    .users-button a {
        padding:0;
    }
    .card-header a.btn {
        font-size:11px;
    }
    .admin-orders .card-header {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .admin-orders .card-body h2 {
        text-align: center;
        font-size:16px;
    }
    .admin-orders .orders-actions a {
        margin-right: 15px;
        font-size: 12px;
        padding: 5px 15px 6px;
        border-radius: 15px;
        margin-top:-65px;
    }
    .admin-orders .order-wrapper {
        padding-bottom:60px;
    }
    .users-button a svg {
        width:24px;
    }
    .container-fluid, .navbar-expand-md > .container-fluid {
        padding: 0 17px;
    }
    .navbar-dark .navbar-brand svg {
        width:120px!important;
    }
    .navbar-nav .nav-item {
        margin-left:0px;
    }
    .navbar-brand svg {
        height:26px!important;
        width: auto!important;
    }
    #balance-tabs .nav-item a span {
        display:none;
    }
    #balance-tabs .nav-item a.active span {
        display:inline-block;
    }
    .wallet-link {
        max-width: 75vw;
    }
    .wallet-link span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 94%;
        line-height: 14px;
    }
    .deposit-section .nav-item a {
        font-size: 10px;
        padding: 6px 12px 7px;
        border-radius: 15px;
    }
    #dashboard-tabs {
        border:none;
        margin-bottom:30px;
        .nav-link {
            font-size:12px;
            padding: 12px 20px;
            border-radius: 25px;
            color:#333;
            background: #eee;
            &.active {
                background: var(--teal);
                color:#fff;
            }
        }
    }
    #wallet {
        .wallet-number strong {
            font-size:12px;
        }
    }

    .explorer {
        .search-items {
            padding-top:20px;
        }
        .order-list-header {
            display:none;
        }
        .card-header {
            padding:10px 20px;
            p {
                font-size:15px;
                svg {
                    margin-right: 5px;
                    margin-top: -2px;
                    width: 16px;
                }
            }
            .d-flex {
                justify-content: center!important;
            }
        }
        .transactions.actions {
            svg {
                position: absolute;
                right: 15px;
                top: 9px;
                width: 18px;
            }
            input {
                width: 100%;
                border-radius: 20px;
                background-color: #F6F8FA;
                border: 1px solid #EFEFEF;
                height: 40px;
                line-height: 40px;
                padding-left: 15px;
                font-size: 10px;
            }
        }
        .order {
            .order-wrapper {
                padding:0 15px;
                border-radius: 20px;
                background-color: #ECF3F5;
                position: relative;
                padding-top:32px;
                &>.row {
                    justify-content: center!important;
                    align-items: center!important;
                    -webkit-box-align: center!important;
                    -webkit-box-pack: center!important;

                }
                .hash {
                    width:100%;
                    font-size: 12px;
                    text-align: center;
                    line-height: 41px;
                    border-radius: 20px;
                    background-color: #F6F8FA;
                    width: 100%;
                    padding-left:20px;
                    .row {
                        padding-left:15px;
                        width:100%;
                        display:block;
                    }
                }
                .date {
                    width: 100%;
                    text-align: right;
                    position: absolute;
                    font-size: 10px;
                    font-weight: 400;
                    padding: 0 15px;
                    line-height: 42px;
                    right: 0;
                    top: -4px;
                }
                .amount {
                    &:before {
                        content:'Recieved: ';
                    }
                    width: auto!important;
                    font-size: 12px;
                    font-weight: 700;
                    padding: 0px 0px 0px 8px;
                    line-height: 42px;

                }
                .amount-source {
                    &:before {
                        content:'Sent: ';
                    }
                    width: auto!important;
                    font-size: 12px;
                    font-weight: 700;
                    padding: 0;
                    line-height: 14px;
                    text-align: left;
                }
            }
        }
    }
    .currency-select select, .currency-select select:active, .currency-select select:focus {
        width:120px;
        margin-top:0;
    }
    .order-wallet-wrapper {
        text-align: left;
    }
    .main-screen .nav-item a svg, #balance-tabs .nav-item a span {
        vertical-align: middle;
    }
    .main-screen .nav-item a svg {
        margin-top:0;
    }
    .card-header {
        padding:0 30px;
        height:56px;
        .btn {
            border-radius: 30px;
            padding: 7px 25px;
        }
    }
    .frontpage .card-header {
        padding: 0 30px;
    }
    .progress-bar {
        margin-left: -10px;
        border-radius: 0 20px 20px 0;
    }
    .progress-labels {
        margin-bottom: 12px;
        margin-top: 40px;
    }
    .progress-bar:first-of-type {
        margin-left: 0;
        height: 18px;
    }
    .progress-labels {
        padding-left:0!important;
        span {
            font-size: 9px!important;
            transform:rotate(-90deg);
            min-width:0!important;
            &:not(.frozen-label) {
                width: calc(20% - 5px);
            }

            svg {
                width: 12px;
                height: 16px;
            }
            &.mobile-visible {
                width:calc(50% - 10px);
                min-width:calc(50% - 10px)!important;
                display:inline-block;
            }
            &.frozen-label {
                transform: rotate(0deg);
                text-align: center;
            }
        }
    }


    .icon-support {
        svg {
            height: 23px!important;
            margin-top: 2px;
        }
    }
}
@media screen and (max-width:720px) {
    .accept_buttons {
        flex-wrap: wrap;
        .button {
            padding: 10px 50px;
            width: 100%;
            text-align: center;
            margin-top:15px;
        }
        .button-accept {
            margin-right:0px;
        }
    }
}
@media screen and (max-width:480px) {
    .explorer {

    }
}
@media screen and (max-width:360px) {
    .explorer {
        .hash {
            font-size:10px!important;
        }
        .amount {
            font-size:10px!important;
        }
        .amount-source {
            font-size:10px!important;
        }
        .transactions.actions svg {
            display:none;
        }
    }
}
input[type=text] {
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
