@media screen and (max-width:767px) {
    .button {
        margin-left:0;
    }
    .deposit-section a.button.button-danger {
        margin-top:15px!important;
    }
    .navbar-dark .navbar-nav li a.nav-link svg {
        height:18px!important;
    }
    .navbar-dark .navbar-nav li:last-child a.nav-link svg {
        margin-right:0;
    }
    .our_balance {
        margin-top:30px;
    }
    .main-screen p {
        margin-bottom:0;
    }
    .users-button a {
        background: none;
        border: none!important;
        box-shadow: none!important;
    }
    .users-button svg {
        display:flex;
    }
    .users-button span {
        display:none;
    }
    .container-fluid, .navbar-expand-md > .container-fluid {
        padding: 0 47px;
    }
    .navbar-nav .nav-item {
        margin-left:30px;
    }
    .navbar-nav .nav-item span {display:none;}
    .navbar-nav .nav-item .dropdown-toggle::after {
        content:none;
    }
    .card-header {
        padding: 10px 20px 26px;
    }
    a.button {
        margin-top: 40px;
        font-size: 16px;
        line-height: 28px;
        padding: 10px 35px;
        width: 100%;
        text-align: center;
    }
    .card-body {
        padding: 30px 20px 25px;
    }
    .progress {
        height:20px;
    }
    .main-screen p {
        font-size:16px;
    }
    .progress + p {
        font-size: 10px!important;
        text-align: center!important;
        font-weight:bold!important;
    }
    .users-button a svg {
        width:28px;
    }
    .app .navbar {
        background: linear-gradient(
                100.13deg
            , #6CA8E0 -25.88%, #4D5B9D 53.71%);
        padding: 12px 0 14px;
    }

    #balance-tabs .nav-item a svg {
        height:16px;
        margin-right: 0px;
    }
    #balance-tabs .nav-item a {
        font-size: 12px;
        padding: 10px 0 5px;
        background:transparent!important;
    }
    #balance-tabs .nav-item a  span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 105px;
        line-height: 14px;
    }
    .card-header .nav {
        justify-content: space-around;
        width:100%;
    }
    .orders-list {
        margin-top:20px;
    }
    .orders-list p {
        font-size:10px;
    }
    .order-wrapper .col-4 {
        padding:0;
        margin-bottom: 10px;
    }
    .order-wrapper {
        padding: 25px 35px 15px;
    }
    .order-wrapper>.row {
        justify-content: flex-end;
    }
    .order-status {
        margin-top: -33px;
        margin-left: -10px;
    }
    .order-status p {
        font-size: 12px;
    }
    #orders-area h2 {
        font-size: 18px;
        text-align: center;
    }
    .card-body h2 {
        font-size: 18px;
    }
    .deposit-block {
        margin-top:30px;
    }
    .deposit-status {
        font-size:14px;
    }
    .deposit-block input, .deposit-block select {
        font-size:14px;
    }
    .deposit-recieve-group {
        margin-left:0;
    }
    .subtotal {
        margin-top:25px;
    }
    p.balance-amount {
        line-height: 28px;
    }
    hr {
        margin:25px 0;
    }
    h3 {
        font-size: 18px;
    }
    a.copy-link {
        width: 100%;
        font-size: 14px;
        padding: 0 15px;
        border-radius: 15px;
        line-height: 45px;
    }
    a.copy-link svg {
        width:16px;
    }
    .deposit-section a.button {
        margin-top:30px!important;
    }
    .deposit-section .nav-item {
        margin-right:10px;
    }
    .deposit-section .nav-item a {
        font-size: 12px;
        padding: 7px 12px 8px;
        border-radius: 15px;
    }
    .wallet-link-section .tab-content {
        padding-top: 25px;
    }
    .qr-code {
        margin-top: 30px;
    }
    .created-block {
        margin-top:25px;
    }
    .users-button a {
        padding:0;
    }
    .card-header a.btn {
        font-size:11px;
    }
    .admin-orders .card-header {
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .admin-orders .card-body h2 {
        text-align: center;
        font-size:16px;
    }
    .admin-orders .orders-actions a {
        margin-right: 15px;
        font-size: 12px;
        padding: 5px 15px 6px;
        border-radius: 15px;
        margin-top:-65px;
    }
    .admin-orders .order-wrapper {
        padding-bottom:60px;
    }
    .users-button a svg {
        width:24px;
    }
    .container-fluid, .navbar-expand-md > .container-fluid {
        padding: 0 17px;
    }
    .navbar-dark .navbar-brand svg {
        width:120px!important;
    }
    .navbar-nav .nav-item {
        margin-left:0px;
    }
    .navbar-brand svg {
        height:26px!important;
        width: auto!important;
    }
    #balance-tabs .nav-item a span {
        display:none;
    }
    #balance-tabs .nav-item a.active span {
        display:inline-block;
    }
    .wallet-link {
        max-width: 75vw;
    }
    .wallet-link span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 94%;
        line-height: 14px;
    }
    .deposit-section .nav-item a {
        font-size: 10px;
        padding: 6px 12px 7px;
        border-radius: 15px;
    }
    #dashboard-tabs {
        border:none;
        margin-bottom:30px;
        .nav-link {
            font-size:12px;
            padding: 12px 20px;
            border-radius: 25px;
            color:#333;
            background: #eee;
            &.active {
                background: var(--teal);
                color:#fff;
            }
        }
    }
    #wallet {
        .wallet-number strong {
            font-size:12px;
        }
    }

    .explorer {
        .search-items {
            padding-top:20px;
        }
        .order-list-header {
            display:none;
        }
        .card-header {
            padding:10px 20px;
            p {
                font-size:15px;
                svg {
                    margin-right: 5px;
                    margin-top: -2px;
                    width: 16px;
                }
            }
            .d-flex {
                justify-content: center!important;
            }
        }
        .transactions.actions {
            svg {
                position: absolute;
                right: 15px;
                top: 9px;
                width: 18px;
            }
            input {
                width: 100%;
                border-radius: 20px;
                background-color: #F6F8FA;
                border: 1px solid #EFEFEF;
                height: 40px;
                line-height: 40px;
                padding-left: 15px;
                font-size: 10px;
            }
        }
        .order {
            .order-wrapper {
                padding:0 15px;
                border-radius: 20px;
                background-color: #ECF3F5;
                position: relative;
                padding-top:32px;
                &>.row {
                    justify-content: center!important;
                    align-items: center!important;
                    -webkit-box-align: center!important;
                    -webkit-box-pack: center!important;

                }
                .hash {
                    width:100%;
                    font-size: 12px;
                    text-align: center;
                    line-height: 41px;
                    border-radius: 20px;
                    background-color: #F6F8FA;
                    width: 100%;
                    padding-left:20px;
                    .row {
                        padding-left:15px;
                        width:100%;
                        display:block;
                    }
                }
                .date {
                    width: 100%;
                    text-align: right;
                    position: absolute;
                    font-size: 10px;
                    font-weight: 400;
                    padding: 0 15px;
                    line-height: 42px;
                    right: 0;
                    top: -4px;
                }
                .amount {
                    &:before {
                        content:'Recieved: ';
                    }
                    width: auto!important;
                    font-size: 12px;
                    font-weight: 700;
                    padding: 0px 0px 0px 8px;
                    line-height: 42px;

                }
                .amount-source {
                    &:before {
                        content:'Sent: ';
                    }
                    width: auto!important;
                    font-size: 12px;
                    font-weight: 700;
                    padding: 0;
                    line-height: 14px;
                    text-align: left;
                }
            }
        }
    }
    .currency-select select, .currency-select select:active, .currency-select select:focus {
        width:120px;
        margin-top:0;
    }
}
@media screen and (max-width:480px) {
    .explorer {

    }
}
@media screen and (max-width:360px) {
    .explorer {
        .hash {
            font-size:10px!important;
        }
        .amount {
            font-size:10px!important;
        }
        .amount-source {
            font-size:10px!important;
        }
        .transactions.actions svg {
            display:none;
        }
    }
}
input[type=text] {
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
