.section-main {
    #create-order-tab {
        .nav-item {
            .nav-link {
                opacity: 0.4;
                mix-blend-mode: normal;
                background: #EDF1F9;
                border-radius: 30px;
                padding: 0 22px;
                font-weight: 600;
                font-size: 13px;
                line-height: 46px;
                text-align: center;
                color: #21314C;
                border: none;
                cursor: pointer;
                transition: 0.3s ease-in-out all;
                &:hover {
                    opacity: 1;
                }
                &.active {
                    opacity:1;
                    color:#347AF0;
                }
            }
        }
    }
}
