header.header {
    color:#fff;
    padding:35px 25px 50px;
    height:100vh;
    .icon-watch {
        span {
            font-weight: normal;
            font-size: 12px;
            line-height: 24px;
            text-align: right;
            margin-right:8px;
            color:#78839C
        }
    }
    .balance {
        .total-amount {
            h1 {
                font-weight: bold;
                font-size: 32px;
                line-height: 56px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 0;
            }
            .total-currency {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 18px;
                text-align: center;
                color: #FFFFFF;
                mix-blend-mode: normal;
                opacity: 0.7;
                margin:0;
            }
        }
        .balance-items {
            margin-top: 30px;
            .balance-item {
                margin: 15px 0;
                .balance-item-currency-icon {
                    display:flex;
                    align-items: center;
                    justify-content: center;
                }
                .balance-item-currency-text {
                    margin-left:15px;
                    .balance-item-currency-title {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 18px;
                        color: #F3F3F3;
                    }
                    .balance-item-currency-description {
                        font-size: 12px;
                        line-height: 12px;
                        color: #929792;
                        margin-top: 2px;
                    }
                }
                .balance-item-amount-title {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    color: #F3F3F3;
                    text-align: right;
                }
                .balance-item-amount-description {
                    font-size: 12px;
                    line-height: 12px;
                    color: #929792;
                    margin-top: 2px;
                    text-align: right;
                }
            }
        }
    }
}
