body {
    display:flex;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    font-size:14px;
    position: relative;
}
.app {
    max-width:480px;
    width:100%;
    background: rgba(13, 31, 60, 0.9);
    height:100vh;
    overflow-y:hidden;
    position:relative;
}
h1, h2 {
    font-weight:700;
}
h3, h4,h5, h6 {
    font-weight: 600;
}
a {
    cursor:pointer!important;
}
main#main-screen {
    width: 100%;
    background-color: #fff;
    padding: 30px 25px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    bottom: 0;
    height:50vh;
    .screen-rollover {
        position: absolute;
        top: -21px;
        border-radius: 100%;
        border: 4px solid #fff;
        left: calc(50% - 22px);
    }
    .filter {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        a.filter-item {
            margin-right:.5em;
            cursor:pointer;
            color: #78839C;
            &.active {
                color:#347AF0;
            }
        }
    }
    .orders {
        .order-item  {
            background: #EDF1F9;
            box-shadow: 0px 2px 3px rgba(20, 70, 150, 0.15);
            border-radius: 15px;
            padding:14px 18px;
            margin-top:15px;
            .amount {
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: #347AF0;
                margin-bottom: 4px;
            }
            .currency {
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                align-items: center;
                color: #112340;
                margin-bottom: 4px;
            }
            .destination {
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent;
                &.deposit {
                    background: linear-gradient(112.27deg, #85F362 -27.42%, #02AAFF 90.87%);
                    background: -moz-linear-gradient(112.27deg, #85F362 -27.42%, #02AAFF 90.87%);
                }
            }
            .datetime {
                font-weight: 600;
                font-size: 12px;
                line-height: 24px;
                color: #78839C;
            }
        }
    }
}
footer {
    padding:10px 50px 10px;
    background: #EDF1F9;
    box-shadow: 0px -1px 7px rgba(255, 255, 255, 0.6);
    border-radius: 20px 20px 1px 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 480px;
    .footer-nav {
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            svg {
                margin-bottom: 2px;
            }
            span {
                font-size: 12px;
                line-height: 24px;
                text-align: center;
                color: #78839C;
            }
        }
    }
    .create-order {
        position: absolute;
        top:-29px;
        span {
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            color: #78839C;
        }
    }
}
