body {
    display:flex;
    justify-content: center;
    font-family: 'Titillium Web', sans-serif;
    font-size:14px;
}
.app {
    max-width:480px;
    width:100%;
    padding:50px 25px;
    background: rgba(13, 31, 60, 0.9);
}
h1, h2 {
    font-weight:700;
}
h3, h4,h5, h6 {
    font-weight: 600;
}
